/* nav style here */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  padding-top: 50px;
  padding-bottom: 45px;
}

.nav-title {
  color: #0d1321;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}

.primary-btn {
  padding: 17px 24px;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
  color: #0d1321;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
}

/* banner style here */
.banner-img {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 26px 221px 45px 221px;
}

.profile-avatar {
  margin-bottom: 32px;
}

.banner-title {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}

.banner-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 32px;
}

.secondery-btn {
  padding: 21px 24px;
  border-radius: 8px;
  background: #0d1321;
  color: white;
  margin-bottom: 45px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* why-web style */

.about-web-dev {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  margin-top: 74px;
}

.section-title {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.section-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 48px;
}

.about-web-dev-container {
  display: flex;
  padding: 48px 48px 48px 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.about-web-dev-column {
  padding-right: 92px;
}

.web-dev-column-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.web-dev-column-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 32px;
}
.lm-btn {
  padding: 12px 20px;
  border: 1px solid #0d1321;
  opacity: 0.7;
}

.about-web-dev-img2 {
  margin-right: 32px;
}

.about-web-dev-container2 {
  display: flex;
  padding: 48px 48px 48px 48px;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  margin: 32px 0 32px 0;
}

.inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 97px 80px 97px;
  text-align: center;
}

.inspiration-title {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.inspiration-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.video {
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 32px 32px;
  margin-top: 48px;
}

.video iframe {
  border-radius: 16px;
}
